<header>
  <!-- Navigation -->
  <nav id="ps-header" class="row navbar navbar-expand-lg navbar-dark fixed-top">

      <%= link_to root_path, class: 'navbar-brand' do %>    <!-- Link a pagina principal (tocando logo o titulo)-->
        <h2 style="margin-left: 20%">  <!-- titulo color blanco corrido a la deracha-->
          Empresa
        </h2>
      <% end %>
      
      <div class="collapse navbar-collapse" id="navbarResponsive" style="margin-right: 5%">
      
        <ul class="navbar-nav ml-auto">

          <!-- BOTON DE INICIO -->
          <li class="nav-item">
              <%= link_to "Inicio", root_path, class: 'nav-link'%>
          </li>



</header>